/* SETTINGS  ("variables" in our case) */
html {
	--black: #111111;
	--white: #FFFFFF;
	--color: #013121;
	--highlight: #aadee9;
	--gradient: linear-gradient(#013121, #111111 200px);
	

}
/* you can make more! */



/* USAGE */

.thingy {
	color: var(--highlight); /* used as variable */
}
