
mast-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

mast-head nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

mast-head .logotype {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.user-menu a {
  font-family: 'Space Grotesk', sans-serif;
  font-size: .9rem;
  padding: 5px 10px;
  font-weight: 100;
}

.user-menu a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.user-menu a:nth-of-type(4) {
  font-weight: 100;
  background-color: #4b7262;
  border-radius: 50px;
}

@media (max-width: 600px) {
  mast-head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  mast-head nav {
    gap: 10px;
  }

  mast-head .logotype {
    font-size: 1rem;
  }
}